@import './variables';
@import './mixins';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-med;
    color: $grayishBlue;
    font-family: 'Public Sans',sans-serif;
    line-height: 1.3;

    &.nosroll {
        overflow: hidden;
    }
}

// Flex box
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
      display: none;
    }
  }
  
.hide-for-desktop {
    @include breakpoint-up(large){
      display: none;
    }
}

// Spacing
.container {
    max-width: 69.375rem;
    margin: 0 auto;
  
    &--pall {
      padding-top: 4.375rem;
      padding-right: 1.5rem;
      padding-bottom: 4.375rem;
      padding-left: 1.5rem;
  
      @include breakpoint-up(large){
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
    &--py {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;
      
      @include breakpoint-up(large){
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
    &--px {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    &--pt {
      padding-top: 4.375rem;
      
      @include breakpoint-up(large){
        padding-top: 6rem;
      }
    }
    &--pr {
      padding-right: 1.5rem;
    }
    &--pb {
      padding-bottom: 4.375rem;
      
      @include breakpoint-up(large){
        padding-bottom: 6rem;
      }
    }
    &--pl {
      padding-left: 1.5rem;
    }
}

// Text
h1, h2, h3 {
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-top: 0px;
  }
  
h1 {
    font-size: 2.31rem;
    margin-bottom: 1.5rem;
  
    @include breakpoint-up(large){
      font-size: $font-xlg;
    }
}
  
h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;

  @include breakpoint-up(large){
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }  
}
  
p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}
// scroll bar
body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-image:linear-gradient(to right,$limeGreen,$brightCyan);
}