@import './variables';
@import './mixins';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-med;
    color: $grayishBlue;
    font-family: 'Public Sans',sans-serif;
    line-height: 1.3;

    &.nosroll {
        overflow: hidden;
    }
}

// Flex box
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
      display: none;
    }
  }
  
.hide-for-desktop {
    @include breakpoint-up(large){
      display: none;
    }
}


