// @import './variables';
@import './animations';

.header {
    nav {
        padding: 24px;
    }

    &__logo {
        img {
            width: 141px;
            height: 22px;
        }
    }

    &__menu { // Mobile menu
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    &__links {
        a {
            font-size: $font-sm;
            transition: color 0.2s ease-in-out;
            position: relative;

            &:not(:last-child) {
                margin-right: 32px;
            }
            
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 100%;
                bottom: -20px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                transition: right 0.3s ease-out;
            }
            
            &:hover { 
                color: $darkBlue;

                &::before {
                    right: 0;
                }
            }
        }
    }

    &__cta {
        font-size: $font-sm;
    }
}