
.header {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.1);

    
    nav {
        background-color: $white;
        position: relative;
        padding: 16px;
    }

    .progress-container {
        width: 100%;
        z-index: 6;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: #eee;
        transition: none!important;
        height: 2px;

        .progress-bar {
            background: linear-gradient(to right, $limeGreen, $brightCyan);
                // background-color: $limeGreen; 
            width: 0%;
            display: block;
            height: inherit;
            transition: none!important;
        }
    }

    &__logo {
        img {
            width: 141px;
            height: 22px;
        }
    }

    
    &.open {

        .header__toggle {
            
            > span:first-child {
                transform: rotate(45deg);
            }
    
            > span:nth-child(2) {
                opacity: 0;
            }
    
            > span:last-child {
                transform: rotate(-45deg);
            }

        }

     }

    &__toggle { // Desktop menu
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 0.3s ease;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        
    }
    

    &__links {
        a {
            font-size: $font-sm;
            transition: color 0.2s ease-in-out;
            position: relative;

            &:not(:last-child) {
                margin-right: 32px;
            }
            
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 100%;
                bottom: -30px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                transition: right 0.3s ease-out;
            }
            
            &:hover { 
                color: $darkBlue;

                &::before {
                    right: 0;
                }
            }
        }
    }

    &__cta {
        font-size: $font-sm;
    }

    .overlay {
        z-index: -1;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($darkBlue, transparent);
    }
    
    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;

        a {
            display: block;
            padding: 0.625rem;
            color: $darkBlue;
            text-align: center;
        }
    }
}